<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Stanley theme -->
    <link rel="stylesheet" href="static/css/stanley.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>    
    <div class="container">
        <div class="row">
            <div class="leftColumn-small">
                <img src="static/img/StanleyTransparent.png" alt="Stanley" height="auto" width="200px" />
                <div class="footer-left-small">
                    <div class="footer-left-icon-small">
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">   
                        <a href="#facebook" class="hi-icon hi-icon-facebook">Facebook</a>
                        <a href="#twitter" class="hi-icon hi-icon-twitter">Twitter</a>
                        <a href="#google" class="hi-icon hi-icon-googleplus">Google +</a>
                        <a href="#github" class="hi-icon hi-icon-github">Github</a>
                        <a href="#contact" class="hi-icon hi-icon-mail">Contact</a>
                    </div> 
                </div>
                </div>
            </div>
            <div class="rightColumn">
                <img src="static/img/StanleyBackground.jpeg" class="bg">
                <form class="navbar-form navbar-left" role="search">

                    <div class="form-group">

                        <label for="textInput">WHAT'S THE STORY :</label>
                        <textarea placeholder= "Once upon a time there was a very pretty and young princess, wanted to marry the prince of her dreams, blablabla..." id="textInput" maxlength="400"></textarea>

                        <p id="myCounter">Characters left: 400</p>

                    </div>
                     <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                     <a href="stanley_is_working" class="hi-icon hi-icon-arrow-right">Go</a>
                     </div>
                </form>
                
                   
             </div>

        </div>
   </div>
     
        <script type="text/javascript">
            $('#textInput').keydown(function () {
                var left = 400 - $(this).val().length;
                if (left < 0) {
                    left = 0;
                }
                $('#myCounter').text('Characters left: ' + left);
            });
        </script>
    
    </body>
</html>
