<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Stanley theme -->
    <link rel="stylesheet" href="static/css/stanley.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="leftColumn-small">
                <img src="static/img/StanleyTransparent.png" alt="Stanley" height="auto" width="200px" />
                
               
        </video>
                <div class="footer-left-small">
                    <div class="footer-left-icon-small">
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">   
                            <a href="#facebook" class="hi-icon hi-icon-facebook">Facebook</a>
                            <a href="#twitter" class="hi-icon hi-icon-twitter">Twitter</a>
                            <a href="#google" class="hi-icon hi-icon-googleplus">Google +</a>
                            <a href="#github" class="hi-icon hi-icon-github">Github</a>
                            <a href="#contact" class="hi-icon hi-icon-mail">Contact</a>
                        </div> 
                    </div>
                </div>         
            </div>
            <div class="rightColumn">
               <!--  <img src="static/img/StanleyBackground.jpeg" class="bg"> -->
                  <video autoplay loop poster="static/img/StanleyBackground.jpeg" id="bgvid">
            <source src="static/videos/Template.mp4" type="video/mp4">
                 
            </div>
    </div>
    </body>
</html>
